:root {
  --black: #050505;
  --coral: #0000ff;
  --gray: whitesmoke;
  --steel-blue: #022e3b;
  --white: white;
  --white-real: #fff;
  --border: rgba(0, 0, 0, .11);
  --dark-cyan: #139992;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

h1 {
  color: var(--black);
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 44px;
}

h2 {
  color: var(--black);
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 36px;
}

h3 {
  color: var(--black);
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 30px;
}

h4 {
  color: var(--black);
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 24px;
}

h5 {
  color: var(--black);
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 20px;
}

h6 {
  color: var(--black);
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: .8rem;
  font-weight: 700;
  line-height: 18px;
}

p {
  margin-bottom: 10px;
  font-size: 1rem;
}

a {
  color: var(--coral);
  text-decoration: underline;
}

.body {
  background-color: var(--gray);
  line-height: 1.3;
}

.section {
  -webkit-text-fill-color: inherit;
  object-fit: cover;
  background-clip: border-box;
  flex-direction: row;
  justify-content: space-between;
  align-self: stretch;
  align-items: stretch;
  margin-top: 0;
  padding: 0 0 5vw;
  display: flex;
}

.section.tours-summary-block {
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  align-items: stretch;
  padding-top: 0;
  padding-bottom: 0;
}

.section.hero {
  background-image: linear-gradient(265deg, transparent, var(--black) 89%), url('../images/El-Salvador-1.jpeg');
  background-position: 0 0, 50% 35%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  background-attachment: scroll, scroll;
  max-width: 100%;
  min-height: 75vh;
  max-height: 100%;
  text-decoration: none;
  display: flex;
}

.section.hero-inner {
  background-image: linear-gradient(88deg, rgba(0, 0, 0, .77), rgba(0, 0, 0, 0)), url('../images/pexels-pok-rie-1655166.jpg');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  min-height: 70vh;
}

.section.hero-inner.tours {
  background-image: linear-gradient(88deg, rgba(0, 0, 0, .77), rgba(0, 0, 0, 0)), url('../images/pexels-flo-maderebner-1466333.jpg');
}

.section.hero-inner.about {
  background-image: linear-gradient(88deg, rgba(0, 0, 0, .77), rgba(0, 0, 0, 0)), url('../images/pexels-oliver-sjöström-1295036.jpg');
  background-position: 0 0, 50%;
}

.section.hero-inner.contact {
  background-image: linear-gradient(88deg, rgba(0, 0, 0, .77), rgba(0, 0, 0, 0)), url('../images/pexels-oliver-sjöström-1295036.jpg');
}

.section.contact-form-section {
  padding-top: 4vw;
}

.section.dark {
  background-color: var(--steel-blue);
}

.main-container {
  background-color: rgba(255, 255, 255, 0);
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-self: center;
  align-items: stretch;
  max-width: 100%;
  padding: 6.5vw 4vw 0;
  display: block;
  position: static;
  overflow: visible;
}

.card-collection-wrapper {
  z-index: 1;
  max-width: 100%;
  margin-top: 0;
  position: static;
}

.card-collection-list {
  grid-column-gap: 35px;
  grid-row-gap: 35px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.card-collection-item {
  justify-content: space-between;
  align-self: stretch;
  display: flex;
}

.hero-heading {
  color: var(--white);
  max-width: 65vw;
  margin-bottom: 0;
  font-size: 4rem;
  line-height: 5rem;
}

.heading-left {
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-end;
  align-items: stretch;
  display: flex;
}

.paragraph {
  max-width: 50vw;
}

.paragraph.hero {
  border-left: 2px solid var(--white);
  color: var(--white);
  max-width: 55vw;
  margin-top: 20px;
  padding-left: 20px;
  font-size: 24px;
}

.paragraph.body {
  color: var(--black);
  background-color: rgba(0, 0, 0, 0);
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 16px;
}

.nav-link {
  color: var(--white);
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: rgba(255, 255, 255, .55);
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link.w--current {
  color: var(--white);
  background-color: rgba(0, 0, 0, 0);
}

.button-primary {
  background-color: var(--coral);
  color: #fff;
  letter-spacing: .5px;
  text-transform: capitalize;
  border-radius: .2rem;
  flex: 0 auto;
  align-self: flex-start;
  padding: 12px 25px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  transition: all .2s cubic-bezier(.77, 0, .175, 1);
}

.button-primary:hover {
  background-color: var(--black);
  color: #fff;
  font-weight: 700;
}

.button-primary:active {
  background-color: #43464d;
}

.social-icons-grid {
  grid-template-columns: 1fr;
  margin-top: 40px;
  display: flex;
  position: relative;
}

.social-icons-grid.footer {
  margin-top: 0;
  margin-bottom: 5px;
  padding-top: 0;
  padding-bottom: 0;
}

.hero-button-wrapper {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  justify-content: start;
  justify-items: start;
  max-width: 50vw;
  margin-top: 40px;
  display: flex;
}

.content-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.content-split {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 40%;
  display: flex;
}

.content-split.right {
  grid-row-gap: 10px;
  max-width: 45%;
}

.content-split.left {
  max-width: 50%;
}

.big-body-image {
  object-fit: contain;
  border-radius: .2rem;
  width: 100vw;
  min-width: 100%;
  height: 500px;
  box-shadow: 0 4px 24px rgba(150, 163, 181, .08);
}

.heading-3 {
  color: var(--black);
  text-transform: capitalize;
  margin-top: 0;
  font-size: 2.8rem;
  line-height: 3rem;
}

.property-card {
  background-color: #fff;
  border-radius: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  box-shadow: 18px 18px 45px rgba(0, 0, 0, .1);
}

.card-image-wrap {
  border-radius: .3rem .3rem 0 0;
  height: 230px;
  position: relative;
  overflow: hidden;
}

.card-image-wrap.div {
  overflow: visible;
}

.card-image {
  object-fit: cover;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.card-content {
  grid-row-gap: 10px;
  border: 1px #000;
  flex-direction: column;
  padding: 20px 24px 25px;
  display: flex;
}

.card-wrapper {
  background-color: var(--white);
  border-radius: .3rem;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  display: block;
  overflow: hidden;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, .16);
}

.tours-card.heading {
  color: var(--black);
  font-size: 1.8rem;
  line-height: 1.2rem;
}

.card-summary {
  color: var(--black);
  font-size: .9rem;
  line-height: 1.2;
}

.tours-buttons-grid {
  grid-column-gap: 15px;
  grid-template-rows: auto;
}

.location-icon {
  align-self: center;
  max-width: 1.8%;
  margin-bottom: 2px;
  margin-right: 2px;
}

.location-row {
  grid-column-gap: 4px;
  flex: 0 auto;
  align-items: center;
  display: flex;
}

.card-location {
  color: var(--steel-blue);
  font-weight: 700;
}

.card-tiny-text {
  color: var(--black);
  letter-spacing: .2px;
  font-size: 12px;
}

.tours-price-row {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: row;
  align-content: flex-end;
  align-items: flex-end;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 24px;
  right: auto;
}

.price-text {
  color: var(--white);
  text-shadow: 0 0 10px rgba(0, 0, 0, .65);
  align-self: flex-end;
  font-size: 45px;
  font-weight: 700;
  line-height: 31px;
}

.price-text-from-per {
  color: var(--white);
  letter-spacing: .2px;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, .65);
  align-self: flex-end;
  margin-right: 5px;
  font-family: Lato, sans-serif;
  font-size: 12px;
  line-height: 13px;
}

.price-text-from-per.margin {
  color: var(--white);
  text-shadow: 0 0 10px rgba(0, 0, 0, .65);
  margin-left: 5px;
  line-height: 13px;
}

.text-block-5 {
  color: var(--black);
}

.empty-state {
  background-color: var(--white);
}

.navigation-buttons {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  align-items: center;
  display: flex;
}

.menu-links {
  display: none;
}

.header-navigation {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  padding-left: 0%;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.container-navigation {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5vw 4vw;
  display: flex;
}

.udesly-menu-buttons {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: center;
  align-items: center;
  display: none;
}

.sub-heading {
  color: var(--black);
  letter-spacing: .5px;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 700;
}

.sub-heading.margin-right {
  margin-right: 7px;
}

.moving-gallery-top-grid {
  grid-template-rows: auto;
  grid-template-columns: .7fr 1.2fr .8fr .9fr;
  width: 120vw;
  height: 40vh;
  margin-bottom: 16px;
}

.moving-gallery-image {
  object-fit: cover;
  background-image: url('../images/waterfall.jpeg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .2rem;
  height: 100%;
}

.moving-gallery-image.mg-image-2 {
  background-image: url('../images/pryamid.jpeg');
  background-position: 50%;
  background-size: cover;
}

.moving-gallery-image.mg-image-3 {
  background-image: url('../images/state.jpeg');
  background-position: 50%;
  background-size: cover;
}

.moving-gallery-image.mg-image-5 {
  background-image: url('../images/el-tunco.jpeg');
  background-position: 50%;
  background-size: cover;
}

.moving-gallery-image.mg-image-4 {
  background-image: url('../images/bbdb174a377b4ba9d1ee09511095d25b.jpeg');
  background-position: 50%;
  background-size: cover;
}

.moving-gallery-image.mg-image-6 {
  background-image: url('../images/f336dfd391ba77c317759efe198445fd.jpeg');
  background-position: 50%;
  background-size: cover;
}

.moving-gallery-image.mg-image-7 {
  background-image: url('../images/el.jpeg');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
}

.moving-gallery-image.mg-image-8 {
  background-image: url('../images/paise.jpeg');
  background-position: 50%;
  background-size: cover;
}

.moving-gallery-wrapper {
  height: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 10vh;
  overflow: hidden;
}

.moving-gallery-bottom-grid {
  grid-template-rows: auto;
  grid-template-columns: .9fr .8fr 1.2fr .7fr;
  width: 120vw;
  height: 39vh;
  margin-bottom: 0;
}

.section2 {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section2.moving-gallery {
  padding-top: 0;
  padding-bottom: 0;
}

.button-wrapper {
  color: #000;
  background-image: url('../images/Black-Thing.png');
  background-position: 55% 250%;
  background-repeat: no-repeat;
  background-size: 110%;
  border: 2px solid #000;
  border-radius: .2rem;
  justify-content: center;
  align-items: center;
  height: 45px;
  padding-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 600;
  text-decoration: none;
  transition: all .3s ease-out;
  display: flex;
}

.button-wrapper:hover {
  color: #fff;
  background-position: 50% 0;
}

.button-wrapper.filled-in {
  border-style: none;
  border-color: var(--white-real);
  background-color: var(--white-real);
  color: #000;
}

.button-wrapper.filled-in:hover {
  border-color: var(--black);
  color: #fff;
}

.button-wrapper.filled-in.hero {
  border-color: var(--gray);
  background-color: var(--gray);
  background-image: none;
  background-repeat: repeat;
  background-size: auto;
  min-width: 18vw;
  font-size: 20px;
}

.button-wrapper.filled-in.hero:hover {
  border-color: var(--white);
  color: var(--white);
}

.button-wrapper.outline.light {
  border-color: var(--white);
  color: var(--white);
  min-width: 18vw;
}

.button-wrapper.outline.light:hover {
  border-color: var(--black);
}

.button-text {
  text-align: center;
  letter-spacing: .5px;
  text-transform: capitalize;
  justify-content: center;
  display: block;
}

.button-text.hero {
  color: var(--black);
}

.footer-center {
  grid-row-gap: 20px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer-link-white {
  color: #fff;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  transition: opacity .2s;
  display: block;
}

.footer-link-white:hover {
  opacity: .5;
}

.container-3 {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.footer-link-wrap {
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}

.footer {
  background-color: #f0f9ff;
  padding: 2vw 3%;
}

.footer-logo {
  max-width: 11%;
  margin-top: -12px;
  margin-bottom: 10px;
}

.footer-wrapper {
  grid-row-gap: 15px;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.divider {
  border: 1px solid #000;
  width: 100%;
}

.small-text {
  color: var(--black);
  -webkit-text-stroke-color: var(--black);
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.utility-page-wrap {
  background-color: var(--gray);
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

._404-message {
  color: var(--black);
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.submit-button {
  background-color: var(--coral);
  border-radius: .2rem;
}

.field-label {
  color: var(--black);
}

.lock-icon {
  align-self: center;
}

.tours-body {
  background-color: var(--gray);
}

.tours-item {
  flex: 0 auto;
  align-self: auto;
  display: flex;
}

.about-body {
  background-color: var(--gray);
}

.form-button {
  background-color: var(--coral);
  letter-spacing: .5px;
  border-radius: .2rem;
  font-weight: 700;
}

.body-contact {
  background-color: var(--gray);
}

.form-text-field {
  border-radius: .2rem;
}

.spacer {
  height: 5vw;
  min-height: 5vw;
}

.spacer._2vw {
  height: 2vw;
  min-height: 2vw;
}

.site-styles {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.styleguide-container {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.styleguide-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.styleguide-wrapper-2 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100%;
  display: flex;
}

.header-nav-logo {
  max-width: 75%;
}

.tours-wrapper {
  flex-direction: row;
  display: block;
}

.tours-list {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  flex-wrap: wrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.rich-text-block {
  font-size: 16px;
}

.price-info {
  display: flex;
}

.info {
  color: var(--coral);
  font-size: 1rem;
  font-weight: 700;
}

.info.margin-left {
  margin-left: 5px;
}

.location-info, .duration-info {
  display: flex;
}

.info-wrapper {
  grid-row-gap: 15px;
  flex-direction: column;
  margin-bottom: 20px;
  padding-top: 20px;
  display: flex;
}

.tours-heading {
  margin-top: 0;
}

.image-cover {
  object-fit: cover;
  background-image: url('../images/pexels-pok-rie-1655166.jpg');
  background-position: 50%;
  background-size: cover;
  border-radius: .2rem;
  height: 100%;
}

.multi-image-wrapper {
  flex-flow: row;
  display: block;
}

.multi-image-list {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex: 1;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  display: grid;
}

.multi-image-item {
  flex: 1;
  height: 50vh;
}

.button-div-wrapper {
  justify-content: center;
  margin-top: 3rem;
  display: flex;
}

.button-secondary {
  color: var(--black);
  background-color: rgba(0, 0, 0, 0);
  border: 2px #000;
  border-bottom-style: solid;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
}

.hero-image-wrapper {
  object-fit: cover;
  border-radius: .2rem;
  flex: 0 auto;
  align-self: flex-end;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.line {
  background-color: var(--border);
  height: 1px;
}

.hero2-wrapper {
  grid-column-gap: 60px;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 3rem;
  display: flex;
}

.hero2-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cms-grid {
  grid-column-gap: 60px;
  grid-row-gap: 45px;
  grid-template-rows: auto;
  grid-template-columns: 1.5fr .75fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.more-info-wrapper {
  border: 1px solid var(--border);
  background-color: var(--gray);
  padding: 25px;
}

.text-link-wrapper {
  text-decoration: none;
}

.heading-4 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 36px;
}

.heading-5 {
  margin-bottom: 10px;
  font-size: 36px;
}

.paragraph-2 {
  color: #000;
  font-size: 18px;
  line-height: 26px;
}

.heading-6 {
  text-align: center;
  font-size: 36px;
}

.button-wrapper-copy {
  color: #fff;
  background-color: #000;
  border: 2px solid #000;
  border-radius: .2rem;
  justify-content: center;
  align-items: center;
  height: 55px;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.7;
  text-decoration: none;
  transition: all .3s ease-out;
  display: flex;
}

.button-wrapper-copy:hover {
  color: #fff;
  background-position: 50% 0;
}

.button-wrapper-copy.filled-in {
  border-style: none;
  border-color: var(--white-real);
  background-color: var(--white-real);
  color: #000;
}

.button-wrapper-copy.filled-in:hover {
  border-color: var(--black);
}

.button-wrapper-copy.filled-in.hero {
  border-color: var(--gray);
  background-color: var(--gray);
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto;
  min-width: 18vw;
}

.button-wrapper-copy.filled-in.hero:hover {
  border-color: var(--white);
  color: var(--white);
}

.button-wrapper-copy.outline.light {
  border-color: var(--white);
  color: var(--white);
  min-width: 18vw;
}

.button-wrapper-copy.outline.light:hover {
  border-color: var(--black);
}

.heading-guide {
  text-align: center;
  font-size: 26px;
}

.cell {
  justify-content: center;
  align-items: center;
}

.image {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50%;
  background-size: cover;
  display: block;
}

.image-2 {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0;
  background-size: cover;
  max-width: 100%;
}

.div-iamge {
  grid-column-gap: 21px;
  grid-row-gap: 21px;
  object-fit: contain;
  flex-flow: wrap;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  display: flex;
  position: static;
}

.tour-columns-1 {
  margin-top: 40px;
}

.image-2-copy {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0;
  background-size: cover;
  max-width: 100%;
  height: 92%;
  min-height: 92.5px;
  max-height: 90%;
}

.image-copy {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50%;
  background-size: cover;
  min-width: 100%;
  max-width: 100%;
  display: block;
}

.column, .column-2, .column-3, .column-4, .column-5, .column-6 {
  padding-left: 5px;
  padding-right: 5px;
}

.faq-plus {
  background-color: #000;
  border-radius: 3px;
  width: 100%;
  height: 5px;
}

.faq-answer-text {
  color: #000;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 26px;
}

.link {
  color: #2aa8ff;
  font-weight: 600;
}

.faq-plus-l {
  background-color: #000;
  border-radius: 3px;
  width: 5px;
  height: 100%;
  position: absolute;
}

.full-texture {
  z-index: 0;
  opacity: .2;
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.faq-question {
  cursor: pointer;
  align-items: center;
  height: 90px;
  font-size: 22px;
  font-weight: 800;
  display: flex;
}

.container {
  z-index: 2;
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5vw;
  padding-right: 5vw;
  display: block;
  position: relative;
}

.container.faq-container {
  background-color: rgba(255, 255, 255, .5);
  border-radius: 5px;
  max-width: 900px;
  padding-top: 60px;
  padding-bottom: 80px;
  box-shadow: 0 0 50px rgba(45, 62, 80, .06);
}

.faq-plus-wrap {
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 25px;
  display: flex;
  position: relative;
}

.pricing-h1 {
  text-align: center;
}

.pricing-h1.faq-h2 {
  margin-bottom: 50px;
  font-size: 36px;
}

.faq-section {
  padding-top: 50px;
  padding-bottom: 100px;
  position: relative;
}

.faq-answer {
  border-bottom: 1px solid rgba(45, 62, 80, .12);
  padding-left: 45px;
  overflow: hidden;
}

.faq-answer.last-faq-answer {
  border-bottom-width: 0;
}

.bold-text {
  color: #000;
}

.section-copy {
  -webkit-text-fill-color: inherit;
  object-fit: cover;
  background-clip: border-box;
  flex-direction: row;
  justify-content: space-between;
  align-self: stretch;
  align-items: stretch;
  margin-top: 0;
  padding: 0 0 5vw;
  display: flex;
}

.section-copy.tours-summary-block {
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  align-items: stretch;
  padding-top: 0;
  padding-bottom: 0;
}

.section-copy.hero {
  background-image: linear-gradient(265deg, transparent, var(--black) 89%), url('../images/El-Salvador-1.jpeg');
  background-position: 0 0, 50% 35%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  background-attachment: scroll, scroll;
  max-width: 100%;
  min-height: 75vh;
  max-height: 100%;
  text-decoration: none;
  display: flex;
}

.section-copy.hero-inner {
  background-image: linear-gradient(88deg, rgba(0, 0, 0, .77), rgba(0, 0, 0, 0)), url('../images/pexels-pok-rie-1655166.jpg');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  min-height: 70vh;
}

.section-copy.hero-inner.tours {
  background-image: linear-gradient(88deg, rgba(0, 0, 0, .77), rgba(0, 0, 0, 0)), url('../images/pexels-flo-maderebner-1466333.jpg');
}

.section-copy.hero-inner.about {
  background-image: linear-gradient(88deg, rgba(0, 0, 0, .77), rgba(0, 0, 0, 0)), url('../images/pexels-oliver-sjöström-1295036.jpg');
  background-position: 0 0, 50%;
}

.section-copy.hero-inner.contact {
  background-image: linear-gradient(88deg, rgba(0, 0, 0, .77), rgba(0, 0, 0, 0)), url('../images/pexels-oliver-sjöström-1295036.jpg');
}

.section-copy.contact-form-section {
  padding-top: 4vw;
}

.section-copy.dark {
  background-color: var(--steel-blue);
}

.big-body-image-2 {
  object-fit: cover;
  border-radius: .2rem;
  width: 100vw;
  min-width: 100%;
  height: 500px;
  box-shadow: 0 4px 24px rgba(150, 163, 181, .08);
}

.section-services {
  -webkit-text-fill-color: inherit;
  object-fit: cover;
  background-color: #fff;
  background-clip: border-box;
  flex-direction: row;
  justify-content: space-between;
  align-self: stretch;
  align-items: stretch;
  margin-top: 0;
  padding: 0 0 5vw;
  display: flex;
}

.section-services.tours-summary-block {
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  align-items: stretch;
  padding-top: 0;
  padding-bottom: 0;
}

.section-services.hero {
  background-image: linear-gradient(265deg, transparent, var(--black) 89%), url('../images/El-Salvador-1.jpeg');
  background-position: 0 0, 50% 35%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  background-attachment: scroll, scroll;
  max-width: 100%;
  min-height: 75vh;
  max-height: 100%;
  text-decoration: none;
  display: flex;
}

.section-services.hero-inner {
  background-image: linear-gradient(88deg, rgba(0, 0, 0, .77), rgba(0, 0, 0, 0)), url('../images/pexels-pok-rie-1655166.jpg');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  min-height: 70vh;
}

.section-services.hero-inner.tours {
  background-image: linear-gradient(88deg, rgba(0, 0, 0, .77), rgba(0, 0, 0, 0)), url('../images/pexels-flo-maderebner-1466333.jpg');
}

.section-services.hero-inner.about {
  background-image: linear-gradient(88deg, rgba(0, 0, 0, .77), rgba(0, 0, 0, 0)), url('../images/pexels-oliver-sjöström-1295036.jpg');
  background-position: 0 0, 50%;
}

.section-services.hero-inner.contact {
  background-image: linear-gradient(88deg, rgba(0, 0, 0, .77), rgba(0, 0, 0, 0)), url('../images/pexels-oliver-sjöström-1295036.jpg');
}

.section-services.contact-form-section {
  padding-top: 4vw;
}

.section-services.dark {
  background-color: var(--steel-blue);
}

.link-2 {
  color: #0b07ff;
}

.navbar_component {
  color: #000;
  background-color: #000;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 4.5rem;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1% 5%;
  display: flex;
  position: relative;
}

.navbar_link-copy {
  color: #fff;
  padding: .5rem 1rem;
  font-weight: 500;
}

.navbar_link {
  color: #fff;
  padding: .5rem 1rem;
  font-size: 18px;
  font-weight: 500;
}

.navbar_link:hover {
  color: #50a4ff;
  text-decoration: none;
}

.navbar_link.w--current {
  color: #d0ff00;
}

.button-2 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #50a4ff;
  border-radius: .65rem;
  flex-direction: row;
  align-items: center;
  padding: .75rem 1.5rem;
  font-size: 16px;
  font-weight: 700;
  transition: all .2s;
  display: flex;
}

.button-2:hover {
  color: #50a4ff;
  background-color: #fff;
  text-decoration: none;
  transform: scale(1.05);
}

.button-2.is-hamburger {
  display: none;
}

.navbar_menu-button {
  padding: 0;
}

.navbar_menu {
  justify-content: center;
  align-items: center;
  display: flex;
  position: static;
}

.typo-logo {
  color: #000;
  align-self: center;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  display: inline;
}

.navbar_container {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: .33fr .75fr .33fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.navbar_logo-link {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding-left: 0;
  display: flex;
}

.navbar_button-wrapper {
  grid-column-gap: 1rem;
  margin-left: 1rem;
  display: flex;
}

.bold-text-2 {
  color: #fff;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 23px;
}

.image-3 {
  max-width: 15%;
}

.link-3 {
  color: #0b07ff;
}

.button-2-copy {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #50a4ff;
  border-radius: .65rem;
  flex-direction: row;
  align-items: center;
  padding: .75rem 1.5rem;
  font-size: 17.5px;
  font-weight: 700;
  transition: all .2s;
  display: flex;
}

.button-2-copy:hover {
  color: #50a4ff;
  background-color: #fff;
  text-decoration: none;
  transform: scale(1.05);
}

.button-2-copy.is-hamburger {
  display: none;
}

.navbar_link-copy {
  color: #fff;
  padding: .5rem 1rem;
  font-size: 18px;
  font-weight: 500;
}

.navbar_link-copy:hover {
  color: #50a4ff;
  text-decoration: none;
}

.navbar_link-copy.w--current {
  color: #d0ff00;
}

.testimonials1_slide {
  max-width: 28rem;
  margin-right: 2rem;
}

.block_top-wrap {
  justify-content: flex-start;
  align-self: flex-start;
  align-items: center;
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
}

.testimonials1_client-details {
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  align-items: flex-start;
  justify-items: start;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
}

.headeline-text {
  color: #000;
  margin: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 28px;
}

.padding-vertical-2 {
  padding-left: 0;
  padding-right: 0;
}

.paragraph-55 {
  color: #6b6b6b;
  margin-top: 5px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.container-large-14 {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.text-block-158 {
  color: #868686;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 700;
}

.section-testimonials1 {
  min-height: auto;
  margin-top: 4rem;
  padding-bottom: 4.6em;
  overflow: hidden;
}

.margin-bottom-76 {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-bottom-76.margin-large {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.testimonials1_slider-nav {
  display: none;
}

.testimonials1_client-wrapper {
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  align-items: center;
  justify-items: start;
  margin-top: 2rem;
  margin-bottom: 15px;
  display: flex;
}

.page-padding-8 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.testimonials1_content {
  background-color: #fff;
  border: 1px solid #e1e4e8;
  border-radius: 12px;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  min-height: auto;
  padding: 0 2rem;
  display: flex;
}

.testimonials1_component {
  background-color: rgba(0, 0, 0, 0);
  height: auto;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.testimonials1_arrow {
  color: #24292e;
  background-color: rgba(21, 29, 83, .3);
  border: 1px solid #e1e4e8;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  transition: background-color .1s ease-out;
  display: flex;
  position: absolute;
  top: auto;
  bottom: -5rem;
  left: 0%;
  right: auto;
}

.testimonials1_arrow:hover {
  background-color: #f6f8fa;
}

.testimonials1_arrow.right {
  background-color: #50a4ff;
  left: 4.5rem;
}

.review-desciprtion-headline {
  color: #000;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.testimonials1_slider-mask {
  width: 28rem;
  overflow: visible;
}

.sub-buttontext-light-copy {
  color: #a9a9a9;
  margin-top: -6px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.prodyct-anme {
  color: #6b6b6b;
  margin-top: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  text-decoration: underline;
}

.block-profile-img {
  text-align: left;
  object-fit: contain;
  align-self: flex-start;
  width: 120px;
  height: 64px;
  margin: -10px auto 0 0;
  padding: 2px 2px 0;
  display: block;
}

.testimonials1_arrow-icon {
  color: #fff;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
}

.servicos {
  background-color: #fff;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-self: center;
  align-items: stretch;
  max-width: 100%;
  padding: 6.5vw 4vw 0;
  display: block;
  position: static;
  overflow: visible;
}

.image-2-copy-copy {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0;
  background-size: cover;
  max-width: 100%;
  height: 92%;
  min-height: 92.5px;
  max-height: 90%;
}

@media screen and (min-width: 1280px) {
  .section-testimonials1 {
    min-height: auto;
    padding-bottom: 5rem;
  }
}

@media screen and (min-width: 1440px) {
  .section-testimonials1 {
    min-height: auto;
    padding-bottom: 4.6em;
  }
}

@media screen and (min-width: 1920px) {
  .main-container {
    padding-left: 6vw;
  }

  .big-body-image {
    display: block;
  }

  .footer {
    background-color: #f0f9ff;
  }

  .heading-4 {
    font-size: 48px;
    line-height: 64px;
  }

  .heading-5, .heading-6, .pricing-h1.faq-h2 {
    font-size: 48px;
  }

  .paragraph-55 {
    font-size: 18px;
    line-height: 26px;
  }

  .text-block-158 {
    font-size: 18px;
  }

  .section-testimonials1 {
    min-height: auto;
    padding-bottom: 5.7em;
  }

  .testimonials1_content {
    padding-top: 1rem;
  }

  .testimonials1_arrow.right {
    background-color: #51a4ff;
  }

  .reviews-section {
    min-height: auto;
    max-height: none;
  }

  .review-desciprtion-headline {
    color: #000;
    font-size: 22px;
  }

  .sub-buttontext-light-copy {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    line-height: 28px;
  }

  .servicos {
    margin-bottom: 0;
    padding-top: 4vw;
    padding-bottom: 5vw;
  }

  .image-2-copy-copy {
    height: 87%;
    min-height: 87%;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 991px) {
  .section {
    padding-top: 2vw;
    padding-bottom: 6vw;
    padding-right: 0;
    display: flex;
  }

  .section.tours-summary-block {
    justify-content: center;
    padding-right: 0;
  }

  .section.hero {
    background-image: linear-gradient(265deg, transparent, var(--black)), url('../images/freedive-snorkel-tour-kauai.jpg');
    background-position: 0 0, 50%;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    background-attachment: scroll, scroll;
  }

  .section.contact-form-section {
    padding-top: 5vw;
    padding-bottom: 5vw;
  }

  .main-container {
    flex-direction: column;
    flex: 1;
    align-items: center;
    display: block;
  }

  .card-collection-list {
    grid-column-gap: 20px;
  }

  .hero-heading {
    max-width: 100vw;
    font-size: 4.5rem;
    line-height: 4.5rem;
  }

  .heading-left {
    align-self: stretch;
  }

  .paragraph.hero {
    max-width: 80vw;
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .hero-button-wrapper {
    max-width: 80vw;
  }

  .content-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }

  .content-split {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .content-split.right {
    grid-column-gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: flex-start;
    margin-bottom: 0;
  }

  .card-content {
    align-items: stretch;
  }

  .card-wrapper {
    flex-direction: column;
    align-items: stretch;
    max-width: 100%;
    display: block;
  }

  .tours-card.heading {
    font-size: 1.3rem;
  }

  .tours-buttons-grid {
    flex-direction: column;
    max-width: 100%;
    display: flex;
  }

  .location-icon {
    max-width: 3%;
  }

  .udesly-lottie-animation {
    color: var(--black);
    -webkit-text-fill-color: inherit;
    background-color: rgba(0, 0, 0, 0);
    background-clip: border-box;
    flex: 0 auto;
    width: 26px;
    height: 26px;
  }

  .navigation-buttons {
    display: none;
  }

  .menu-button {
    background-color: var(--white);
    border: 1px #e6e6e6;
    border-radius: 6px;
    flex: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 7px;
    display: flex;
  }

  .menu-button.w--open {
    background-color: var(--white);
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .header-navigation {
    background-color: var(--black);
    position: fixed;
  }

  .nav-menu {
    background-color: var(--black);
    flex: 0 auto;
    padding: 24px;
  }

  .container-navigation {
    justify-content: space-between;
  }

  .udesly-menu-buttons {
    justify-content: flex-start;
    margin-top: 32px;
    display: flex;
  }

  .sub-heading {
    margin-bottom: 10px;
  }

  .section2 {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .styleguide-container {
    max-width: 728px;
  }

  .styleguide-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .styleguide-wrapper-2 {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .tours-list {
    grid-column-gap: 30px;
  }

  .multi-image-list {
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    grid-template-columns: 1fr;
  }

  .hero-image-wrapper {
    flex: 0 auto;
    align-self: center;
    width: 100%;
    height: 500px;
  }

  .hero2-wrapper {
    grid-column-gap: 0px;
    grid-row-gap: 45px;
    flex-direction: column;
    margin-top: 5rem;
  }

  .hero2-image {
    display: inline-block;
  }

  .cms-grid {
    grid-column-gap: 45px;
    grid-row-gap: 45px;
    grid-template-rows: auto;
    grid-template-columns: 1.25fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .more-info-wrapper {
    border: 1px solid var(--border);
    background-color: var(--gray);
    padding: 20px;
  }

  .section-copy {
    padding-top: 2vw;
    padding-bottom: 6vw;
    padding-right: 0;
    display: flex;
  }

  .section-copy.tours-summary-block {
    justify-content: center;
    padding-right: 0;
  }

  .section-copy.hero {
    background-image: linear-gradient(265deg, transparent, var(--black)), url('../images/freedive-snorkel-tour-kauai.jpg');
    background-position: 0 0, 50%;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    background-attachment: scroll, scroll;
  }

  .section-copy.contact-form-section {
    padding-top: 5vw;
    padding-bottom: 5vw;
  }

  .section-services {
    padding-top: 2vw;
    padding-bottom: 6vw;
    padding-right: 0;
    display: flex;
  }

  .section-services.tours-summary-block {
    justify-content: center;
    padding-right: 0;
  }

  .section-services.hero {
    background-image: linear-gradient(265deg, transparent, var(--black)), url('../images/freedive-snorkel-tour-kauai.jpg');
    background-position: 0 0, 50%;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    background-attachment: scroll, scroll;
  }

  .section-services.contact-form-section {
    padding-top: 5vw;
    padding-bottom: 5vw;
  }

  .menu-icon_line-middle-inner {
    width: 4px;
    height: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .navbar_link-copy, .navbar_link {
    color: #000;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.125rem;
    display: flex;
  }

  .button-2.is-hamburger {
    display: flex;
  }

  .navbar_menu-button {
    padding: 0;
  }

  .navbar_menu-button.w--open {
    background-color: rgba(0, 0, 0, 0);
  }

  .navbar_menu {
    -webkit-text-fill-color: inherit;
    background-color: rgba(0, 0, 0, 0);
    background-clip: border-box;
    border-bottom: 1px solid #000;
    justify-content: center;
    padding: 1rem 5% 2.5rem;
    display: flex;
    position: absolute;
    overflow: auto;
  }

  .navbar_menu.is-page-height-tablet {
    background-color: #fff;
    height: 25vh;
    padding-bottom: 15rem;
    display: flex;
  }

  .menu-icon {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-right: -.5rem;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .menu-icon2_line-bottom {
    background-color: #fff;
    width: 24px;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-icon2_line-middle {
    background-color: #fff;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .navbar_container {
    grid-template-columns: .25fr 1fr;
    display: flex;
  }

  .menu-icon2_line-top {
    background-color: #fff;
    width: 24px;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .navbar_button-wrapper {
    align-items: center;
  }

  .button-2-copy.is-hamburger {
    display: flex;
  }

  .navbar_link-copy {
    color: #000;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.125rem;
    display: flex;
  }

  .padding-vertical-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .margin-bottom-76 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .servicos {
    flex-direction: column;
    flex: 1;
    align-items: center;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding: 5vw 5%;
  }

  .section.tours-summary-block {
    padding-left: 2%;
    padding-right: 2%;
  }

  .section.hero {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/freedive-snorkel-tour-kauai.jpg');
    background-position: 0 0, 50%;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    background-attachment: scroll, scroll;
  }

  .section.hero-inner {
    padding-bottom: 5vw;
  }

  .main-container {
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .card-collection-list {
    grid-row-gap: 10px;
    flex-direction: column;
    grid-template-columns: 1fr;
  }

  .card-collection-item {
    margin-bottom: 25px;
  }

  .hero-heading {
    font-size: 4rem;
    line-height: 4rem;
  }

  .paragraph.body {
    max-width: 100%;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .hero-button-wrapper {
    max-width: 80vw;
  }

  .content-wrapper {
    flex-direction: column;
  }

  .content-split.right, .content-split.left {
    max-width: 100%;
  }

  .big-body-image {
    height: 400px;
  }

  .tours-card.heading {
    font-size: 2rem;
  }

  .udesly-lottie-animation {
    width: 20px;
    height: 20px;
  }

  .menu-links {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }

  .menu-button {
    width: 36px;
    height: 36px;
  }

  .container-navigation {
    padding-top: 3vw;
    padding-bottom: 3vw;
  }

  .moving-gallery-top-grid, .moving-gallery-bottom-grid {
    height: 30vh;
  }

  .section2 {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .footer {
    padding-top: 8vw;
    padding-bottom: 6vw;
  }

  .small-text {
    max-width: 80%;
  }

  .tours-item {
    margin-bottom: 35px;
  }

  .spacer._2vw {
    height: 3vw;
    min-height: 3vw;
  }

  .site-styles {
    padding: 60px 15px;
  }

  .tours-list {
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
  }

  .image-cover {
    width: 100%;
  }

  .multi-image-wrapper {
    flex-direction: column;
    display: block;
  }

  .multi-image-list {
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    flex-direction: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    justify-content: space-between;
    display: grid;
  }

  .multi-image-item {
    align-self: stretch;
    height: 60vh;
  }

  .button-div-wrapper {
    margin-top: 1rem;
  }

  .cms-grid {
    grid-row-gap: 45px;
    grid-template-columns: 1.25fr;
  }

  .pricing-h1 {
    font-size: 34px;
    line-height: 44px;
  }

  .section-copy {
    padding: 5vw 5%;
  }

  .section-copy.tours-summary-block {
    padding-left: 2%;
    padding-right: 2%;
  }

  .section-copy.hero {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/freedive-snorkel-tour-kauai.jpg');
    background-position: 0 0, 50%;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    background-attachment: scroll, scroll;
  }

  .section-copy.hero-inner {
    padding-bottom: 5vw;
  }

  .big-body-image-2 {
    height: 400px;
  }

  .section-services {
    padding: 5vw 5%;
  }

  .section-services.tours-summary-block {
    padding-left: 2%;
    padding-right: 2%;
  }

  .section-services.hero {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/freedive-snorkel-tour-kauai.jpg');
    background-position: 0 0, 50%;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    background-attachment: scroll, scroll;
  }

  .section-services.hero-inner {
    padding-bottom: 5vw;
  }

  .navbar_component {
    min-height: 4rem;
  }

  .testimonials1_slide {
    width: auto;
    max-width: none;
    margin-right: 1.25rem;
  }

  .padding-vertical-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .margin-bottom-76 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .testimonials1_client-wrapper {
    grid-auto-flow: row;
    margin-top: 1.25rem;
  }

  .page-padding-8 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .testimonials1_slider-mask {
    width: 100%;
  }

  .sub-buttontext-light-copy {
    font-size: 20px;
    line-height: 32px;
  }

  .servicos {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}

@media screen and (max-width: 479px) {
  .section {
    background-color: #fff;
    margin-top: 0;
    padding: 35px 6%;
  }

  .section.tours-summary-block {
    margin-top: 0;
    padding-top: 10vw;
  }

  .section.hero {
    background-image: linear-gradient(rgba(5, 5, 5, .6), rgba(5, 5, 5, .6)), url('../images/El-Salvador-1.jpeg');
    background-position: 0 0, 50%;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    background-attachment: scroll, scroll;
    min-height: 50vh;
    margin-top: 0;
    margin-bottom: 0;
    padding: 3.5vw 4% 15vw;
  }

  .section.hero-inner {
    min-height: 85vh;
    padding-bottom: 7vw;
  }

  .section.hero-inner.tours {
    min-height: 80vh;
    padding-top: 5vw;
  }

  .section.contact-form-section {
    margin-top: 0;
  }

  .main-container {
    align-self: flex-end;
    padding: 0;
    display: block;
  }

  .card-collection-list {
    flex-direction: column;
  }

  .card-collection-item {
    flex-direction: row;
    margin-bottom: 40px;
  }

  .hero-heading {
    max-width: 90vw;
    font-size: 28px;
    line-height: 2rem;
  }

  .paragraph.hero {
    max-width: 100vw;
    font-size: 18px;
    line-height: 1.5;
  }

  .button-primary {
    background-color: var(--white);
    color: #000;
    align-self: flex-start;
  }

  .hero-button-wrapper {
    flex-direction: column;
    max-width: 100vw;
  }

  .big-body-image {
    flex: 0 auto;
    height: 300px;
  }

  .tours-card.heading {
    font-size: 1.6rem;
    line-height: 1.5rem;
  }

  .container-navigation {
    background-color: rgba(255, 255, 255, 0);
    padding-top: 5vw;
    padding-bottom: 5vw;
  }

  .udesly-menu-buttons {
    flex-direction: column;
  }

  .moving-gallery-top-grid {
    grid-template-columns: .7fr 1.2fr .8fr;
    height: 20vh;
    margin-bottom: 16px;
  }

  .moving-gallery-image.mg-image-3 {
    display: block;
  }

  .moving-gallery-image.mg-image-4 {
    display: none;
  }

  .moving-gallery-bottom-grid {
    grid-template-columns: .8fr 1.2fr .7fr 1fr;
    height: 14vh;
  }

  .button-text {
    font-size: 18px;
  }

  .footer {
    padding-top: 10vw;
  }

  .footer-logo {
    max-width: 33%;
  }

  .footer-wrapper {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .small-text {
    max-width: 100%;
  }

  .styleguide-container {
    max-width: none;
  }

  .logo-link-wrapper.w--current {
    min-width: 11%;
  }

  .tours-list {
    grid-row-gap: 15px;
  }

  .multi-image-item {
    height: 40vh;
  }

  .hero-image-wrapper {
    height: 300px;
  }

  .heading-4, .heading-5 {
    font-size: 28px;
    line-height: 36px;
  }

  .paragraph-2, .paragraph-3 {
    font-size: 18px;
  }

  .heading-6 {
    font-size: 28px;
  }

  .heading-guide {
    font-size: 22px;
  }

  .faq-answer-text {
    line-height: 26px;
  }

  .pricing-h1.faq-h2 {
    font-size: 28px;
    line-height: 36px;
  }

  .faq-q-text {
    color: #000;
    font-size: 18px;
  }

  .faq-section {
    background-color: #fff;
    padding-top: 35px;
  }

  .section-copy {
    margin-top: 60px;
    padding: 0 6% 10vw;
  }

  .section-copy.tours-summary-block {
    margin-top: 0;
    padding-top: 10vw;
  }

  .section-copy.hero {
    background-image: linear-gradient(rgba(5, 5, 5, .6), rgba(5, 5, 5, .6)), url('../images/El-Salvador-1.jpeg');
    background-position: 0 0, 50%;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    background-attachment: scroll, scroll;
    min-height: 80vh;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 4vw;
    padding-bottom: 15vw;
  }

  .section-copy.hero-inner {
    min-height: 85vh;
    padding-bottom: 7vw;
  }

  .section-copy.hero-inner.tours {
    min-height: 80vh;
    padding-top: 5vw;
  }

  .section-copy.contact-form-section {
    margin-top: 0;
  }

  .big-body-image-2 {
    height: 300px;
  }

  .section-services {
    margin-top: 0;
    padding: 30px 6% 35px;
  }

  .section-services.tours-summary-block {
    margin-top: 0;
    padding-top: 10vw;
  }

  .section-services.hero {
    background-image: linear-gradient(rgba(5, 5, 5, .6), rgba(5, 5, 5, .6)), url('../images/El-Salvador-1.jpeg');
    background-position: 0 0, 50%;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    background-attachment: scroll, scroll;
    min-height: 80vh;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 4vw;
    padding-bottom: 15vw;
  }

  .section-services.hero-inner {
    min-height: 85vh;
    padding-bottom: 7vw;
  }

  .section-services.hero-inner.tours {
    min-height: 80vh;
    padding-top: 5vw;
  }

  .section-services.contact-form-section {
    margin-top: 0;
  }

  .navbar_link-copy {
    color: #1c1c1c;
    border: 3px solid #000;
    margin-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .navbar_link {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color: #1c1c1c;
    border: 3px solid #000;
    border-bottom-style: none;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
  }

  .navbar_link:hover {
    background-color: #000;
    padding-left: 1rem;
  }

  .navbar_link:active {
    color: #000;
    background-color: rgba(226, 226, 226, .7);
    font-weight: 600;
  }

  .navbar_link:focus {
    color: #1c1c1c;
  }

  .button-2 {
    display: none;
  }

  .button-2.is-hamburger {
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 0;
    font-size: 16px;
  }

  .button-2.is-hamburger:hover {
    border: 3px #000;
    border-radius: 5px 0 0;
    transform: none;
  }

  .navbar_menu.is-page-height-tablet {
    -webkit-text-fill-color: inherit;
    object-fit: contain;
    background-color: #fff;
    background-clip: padding-box;
    border: 3px solid #000;
    border-style: solid none;
    border-radius: 0;
    min-width: 75%;
    max-width: 75%;
    height: 41vh;
    margin-bottom: 0;
    padding: 20px 10px 0;
    font-style: normal;
    display: flex;
    overflow: visible;
  }

  .navbar_menu.is-page-height-tablet:hover {
    border-style: none;
    border-width: 1px;
    border-radius: 3px;
  }

  .menu-icon {
    padding-bottom: 0;
  }

  .typo-logo {
    color: #fff;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 12px;
  }

  .navbar_logo-link {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .bold-text-2 {
    font-size: 18px;
  }

  .image-3 {
    display: block;
  }

  .button-2-copy {
    display: none;
  }

  .button-2-copy.is-hamburger {
    border-radius: 4px;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 16px;
    transition-property: none;
  }

  .button-2-copy.is-hamburger:hover {
    color: #fff;
    background-color: #50a4ff;
    border: 3px #000;
    border-radius: 5px;
    transform: none;
  }

  .navbar_link-copy {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color: #1c1c1c;
    border: 3px solid #000;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
  }

  .navbar_link-copy:hover {
    background-color: #000;
    padding-left: 1rem;
  }

  .navbar_link-copy:active {
    color: #000;
    background-color: rgba(226, 226, 226, .7);
    font-weight: 600;
  }

  .navbar_link-copy:focus {
    color: #1c1c1c;
  }

  .testimonials1_slide {
    width: 90%;
  }

  .testimonials1_client-details {
    flex-direction: column;
    align-items: flex-start;
  }

  .headeline-text {
    font-size: 22px;
  }

  .padding-vertical-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .paragraph-55 {
    font-size: 14px;
  }

  .text-block-158 {
    color: #5e5e5e;
    font-size: 16px;
  }

  .section-testimonials1 {
    margin-top: 2rem;
  }

  .margin-bottom-76 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom-76.margin-large {
    flex-direction: column;
    align-items: flex-start;
  }

  .testimonials1_content {
    padding: .5rem 1.25rem 0;
  }

  .testimonials1_arrow.right {
    background-color: #50a4ff;
    background-image: linear-gradient(96deg, #50a4ff, #50a4ff);
  }

  .review-desciprtion-headline {
    margin-top: 10px;
  }

  .sub-buttontext-light-copy {
    text-align: left;
    margin-top: 0;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    line-height: 26px;
  }

  .prodyct-anme {
    font-size: 12px;
    font-weight: 500;
  }

  .block-profile-img {
    align-self: flex-start;
    width: 100px;
    height: auto;
    margin-top: 5px;
    margin-left: 0;
    margin-right: 10px;
  }

  .servicos {
    align-self: flex-end;
    padding: 0;
    display: block;
  }
}

#w-node-_81253170-c124-be7e-fe2c-03e322ad5786-73b2f275, #w-node-_81253170-c124-be7e-fe2c-03e322ad5788-73b2f275, #w-node-_69fa2690-07ef-06e4-2e27-dbace92301fc-73b2f275, #w-node-_81253170-c124-be7e-fe2c-03e322ad5789-73b2f275 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: end;
}

#w-node-_81253170-c124-be7e-fe2c-03e322ad578b-73b2f275, #w-node-_81253170-c124-be7e-fe2c-03e322ad578c-73b2f275, #w-node-b8080f4d-dea3-bb7c-0c67-13e176305cc7-73b2f275 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: start;
}

#w-node-_81253170-c124-be7e-fe2c-03e322ad578e-73b2f275 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: stretch;
  justify-self: stretch;
}

#w-node-_7dc21b1f-ee98-1f1d-3dd6-e2c0dbc4f92c-73b2f278, #w-node-_7dc21b1f-ee98-1f1d-3dd6-e2c0dbc4f92f-73b2f278 {
  justify-self: stretch;
}

#w-node-_2681a357-df96-3692-069d-0fc9cae591be-de629072, #w-node-_2681a357-df96-3692-069d-0fc9cae591c0-de629072, #w-node-_2681a357-df96-3692-069d-0fc9cae591c2-de629072 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-b83d32fb-37cc-7423-93cf-c590ec334805-73b2f27b {
  align-self: center;
}

#w-node-_2c246a66-7f04-2ffc-1945-097de9ab791d-73b2f27b, #w-node-_2c246a66-7f04-2ffc-1945-097de9ab7920-73b2f27b, #w-node-_2a7ec8ac-ed55-313b-4718-a8ccc917330c-73b2f27d, #w-node-_2a7ec8ac-ed55-313b-4718-a8ccc917330f-73b2f27d {
  justify-self: stretch;
}

#w-node-_14eee04c-1bae-4e91-0979-cd9ba94b937b-47857d44 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: center;
}

#w-node-_14eee04c-1bae-4e91-0979-cd9ba94b937f-47857d44 {
  justify-self: center;
}

#w-node-_14eee04c-1bae-4e91-0979-cd9ba94b938c-47857d44 {
  justify-self: end;
}

#w-node-_81253170-c124-be7e-fe2c-03e322ad5786-47857d44, #w-node-_81253170-c124-be7e-fe2c-03e322ad5788-47857d44, #w-node-_69fa2690-07ef-06e4-2e27-dbace92301fc-47857d44, #w-node-_81253170-c124-be7e-fe2c-03e322ad5789-47857d44 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: end;
}

#w-node-_81253170-c124-be7e-fe2c-03e322ad578b-47857d44, #w-node-_81253170-c124-be7e-fe2c-03e322ad578c-47857d44 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: start;
}

#w-node-_81253170-c124-be7e-fe2c-03e322ad578e-47857d44 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: stretch;
  justify-self: stretch;
}

#w-node-b8080f4d-dea3-bb7c-0c67-13e176305cc7-47857d44 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: start;
}

@media screen and (max-width: 991px) {
  #w-node-_2b15c1da-dbd0-d2e0-fe06-74816ec92587-73b2f27b {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-b83d32fb-37cc-7423-93cf-c590ec334805-73b2f27b {
    grid-area: span 1 / span 1 / span 1 / span 1;
    justify-self: start;
  }
}


